body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: azure;
  font-size: 0.8em;
  width: 900px;
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 5em;
  text-align: center;
}
h2,
h3 {
  margin: 1em;
  font-size: 3em;
}
h4 {
  color: aliceblue;
  text-align: center;
}
p {
  font-size: 1.3em;
  margin: 1.5em;
}
li {
  margin: 1em;
  border: 1px solid;
  text-align: center;
  padding: 1.5em;
}
li,
a {
  font-size: 1.3em;
  text-decoration: none;
  list-style: none;
}
hr {
  margin-top: -3em;
  width: 97%;
}
#menu {
  margin-left: -35px;
  width: 200px;
  float: left;
}
.contenido {
  border-radius: 2%;
  background-color: white;
  border-style: solid;
  border-color: gray;
  box-shadow: 0rem 0rem 1rem 0rem inset;
}

.textos {
  border: 1px solid black;
  width: 730px;
  margin-top: 60px;
  margin-left: 170px;
  box-shadow: 0rem 0rem 1rem 0rem inset;
}
.verde {
  color: green;
}
.marron {
  color: brown;
}
.rojo {
  background: linear-gradient(
    0deg,
    rgba(195, 34, 34, 1) 0%,
    rgba(255, 255, 255, 1) 45%
  );
}
.verdebosque {
  background: linear-gradient(
    0deg,
    rgba(49, 255, 47, 1) 0%,
    rgba(255, 255, 255, 1) 45%
  );
}
img {
  margin-top: 1em;
  opacity: 0.9;
  width: 100%;
}
